.cursos{
  display: block;
  margin: 10 auto;
}
.cursos h1{
  margin: 20px;
  font-size: 50px;
}
.cursos .tp{
  display: flex;
  margin: 20px;
  margin-bottom: 1;
  max-width: 100%;
}
.cursos .tp p{
  font-size: 20px;
  text-align: justify;
  margin: 10px;
}
@media (max-width: 700px){
  .cursos{
    width: 100%;
    
  }
  .cursos .tp{
    display: block;
    margin: 0;
  }
  .cursos .tp img{
    align-items: top;
    align-content: top;
    width: 100%;
    margin: 0;
  }
}