.teladeinicio{
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}
.teladeinicio h1{
  font-family: 'Courier New', Courier, monospace;
  color: #006400;
  font-size: 50px;
  margin: 3rem;
}
.teladeinicio p{
  margin: auto;
  text-align: justify;
  width: 90%;
  font-size: 1.3rem;
}